html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-image: url(images/pwhite.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
  border: none;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;

}

.box {
  position: relative;
  width: 380px;
  height: 420px;
  background-color: #1c1c1c;
  border-radius: 8px;
  background-image: url(images/HTCUP + HARTES.jpg);

}

.box h1 {
  position: absolute;
  inset: 2px;
  padding: 50px 40px;
  border-radius: 4px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.box input {
  position: static;
  background: transparent;
  border: 1px solid #fff;
  outline: none;
  padding: 12px 25px;
  color: #fff;
  justify-content: center;
  align-items: center;
  z-index: 1;
  inset: 1px;

}

.box h2 {
  justify-content: baseline;
  font-size: smaller;
  align-items: end;
  padding-top: 380px;
  padding-left: 80px;

}

.box button {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding: 10px 5px;
  position: relative;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 34%;
  -ms-transform: translate(-50%, 200%);
  transform: translate(-50%, 200%);
  padding-left: 50px;
  padding-right: 50px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(240, 238, 238, 0.1);
  border-radius: 12px;
}

.typing-demo {
  padding-left: 40px;
  width: 37ch;
  animation: typing 2s steps(37), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: larger;
  color: #FFFFFF;
}

.typing-demo2 {
  animation-delay: 30ms;
  padding-left: 40px;
  width: 30ch;
  animation: typing 2s steps(30), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: larger;
  color: #FFFFFF;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  0% {
    border-color: transparent
  }
}
